#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


footer {
  display: flex;
  padding: 10px 0;
  margin: 100px 0 0 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
}

body {
  padding-top: 4rem;
}


@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  footer {
    font-size: 0.875rem;
    padding: 20px 0;
  }
}

img {
  width: 10rem;
  height: auto;
  border-radius: 2rem;
}

.links-recipes-details {
  text-decoration: none;
  color: #0060ce;
  transition: color 300ms ease;
  display: block;
  font-size: 1.2rem;
}

.links-recipes-details:hover {
  color: #00d8ff;
}

article {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 2rem;
}

article > h2 {
  margin: 0;
}

article > p {
  margin: 0.5rem 0;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 100vw;
  overflow-x: hidden; 
  box-sizing: border-box;
  width: 100%;
}

.pokemon-card {
  width: 100%;
  height: auto; 
}

@media (max-width: 1200px) {
  .pokemon-list {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .pokemon-list {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .pokemon-list {
      grid-template-columns: 1fr;
  }
}